@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* HEADER VARIABLES*/
$background-color: #2d2d34;
$title-color: #657df6;
$description-color: #d5d6d8;
$font-stack: 'Open Sans', sans-serif;

/* RESULTS VARIABLES*/
$border-book-cover: #000;
$placeholder-color: rgba(106, 105, 105, 0.76);
$search-icon: rgba(155, 154, 154, 0.61);
